.gnuboy-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gnuboy-title {
    text-align: center;
    color: #2d3e50;
}

.gnuboy-top {
    align-content: center;
    vertical-align: middle;
    align-self: center;
    margin: 0 auto;
}

.gnuboy-img {
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: grid;
    flex-direction: row;
    display: inline;
}